pre {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
display: block;
padding: 10px 15px 13px 15px;
margin-bottom: 1em;
background-color: #fff;
border: solid 1px #efeee6;
color: #f14e32;
font-family: Courier, monospace !important;
line-height: 18px;
overflow: auto;
}

code, .man-page p tt, .man-page .listingblock .content {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
display: block;
padding: 10px 15px 13px 15px;
margin-bottom: 1em;
background-color: #fff;
border: solid 1px #efeee6;
color: #f14e32;
font-family: Courier, monospace !important;
line-height: 18px;
overflow: auto;
}

